body {
    font-family: "Victor Mono";
}

.titulo {
    color: indigo;
    text-decoration: underline;
}

p {
    font-weight: bold;
}

.container {
    text-align: center;
    width: 70%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 20px;
}